<section class="row top-section d-flex align-items-center">
    <div class="col-xl-6 col-lg-6 title flex-item ">
      <h1 class="">TAG</h1>
      <h2 class="">Make remote work</h1>
      <p class="">Get your team in sync, no matter your location. Streamline processes,
      create team rituals, and watch productivity soar.</p>

      <a href="#" class="btn btn-lg btn-dark learn-more-btn">Learn more</a>
    </div>
    <div class="col-xl-6 col-lg-6">
      <picture class="card">
        <img src="{{ url_for('static', filename='images/intro.jpg') }}" alt="default image" >
      </picture>
    </div>
  </section>